/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 .logo-hp {
  height: 150px;
  width: 200px;
 }

.wrapper-hp {
  padding: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}
