
<div class="text-homepage">
  <h1 class="homepage-title">Find a VC that fits with your startup.</h1>
  <h3>Startups used to contact VCs that were unadapted to their needs. This ends now.</h3>
  <%= link_to "Show me the list !", vc_firms_path, class: "button text-center" %>
</div>

<div id="wave" style="background-image: linear-gradient(-270deg, #C7EEFF 0%, #0077C0 100%); margin-top:-1px";>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1170 193" style="fill: #FAFAFA; margin-top: -1px">
    <path d="M1175 131.2c0 0-81-89.4-224.3-103.4S713 72 665 97c-86 46-148 63-271 7C221.7 25.5 56 104.5-4 197.4 -4 58.7-3.3 0.3-3.3 0.3L1175 0V131.2z"/>
  </svg>
</div>

<div class="iceberg">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  width="576px" height="662px" viewBox="0 0 576 662" style="enable-background:new 0 0 576 662;"
  xml:space="preserve">
  <g id="_x38_0" opacity="0">
    <g id="fill_r" opacity="0">
      <polygon id="XMLID_180_" class="r_1" points="455.12,179.8 486.12,275.46 420.65,234.28 339.08,273.5    "/>
      <polygon id="XMLID_179_" class="r_2" points="486.12,275.46 474.12,330.52 385.01,407.17 385.01,336.76    "/>
      <polygon id="XMLID_178_" class="r_3" points="482.58,449.71 403.78,514.77 339.08,465.09 385.01,407.17    "/>
      <polygon id="XMLID_177_" class="r_2" points="403.78,514.77 312.78,655.69 298.59,534.59    "/>
      <polygon id="XMLID_176_" class="r_2" points="366.71,126.47 388.28,157.47 381.14,210.43 360.53,137.13    "/>
      <polygon id="XMLID_175_" class="r_1" points="385.01,336.76 385.01,407.17 339.08,465.09 316.4,397.8 271.45,351.92 339.08,363.5
      "/>
      <polygon id="XMLID_174_" class="r_3" points="339.08,273.5 385.01,336.76 271.45,351.92     "/>
      <polygon id="XMLID_173_" class="r_3" points="360.53,137.13 381.14,210.43 332.78,140.39    "/>
      <polygon id="XMLID_172_" class="r_2" points="343.78,246.94 271.45,351.92 243.07,344.78 281.6,215.82     "/>
      <polygon id="XMLID_171_" class="r_3" points="316.4,397.8 339.08,465.09 271.45,452.1 204.96,382.21     "/>
      <polygon id="XMLID_170_" class="r_3" points="339.08,163 281.6,215.82 231.5,225.38 236.12,295.77 147.09,203.1 209.09,183.96
      278.07,174.73 305.74,177.42 303.66,154.67     "/>
      <polygon id="XMLID_169_" class="r_1" points="298.59,534.59 312.78,655.69 253.92,530.13 235.37,461.51 271.45,452.1     "/>
      <polygon id="XMLID_168_" class="r_2" points="253.92,530.13 312.78,655.69 239.45,584.48 190.75,492.7     "/>
      <polygon id="XMLID_167_" class="r_3" points="312.78,655.69 239.45,619.15 239.45,584.48    "/>
      <polygon id="XMLID_166_" class="r_2" points="303.66,154.67 305.74,177.42 278.07,174.73 253.92,143.26 274.91,138.63    "/>
      <polygon id="XMLID_165_" class="r_1" points="204.96,382.21 271.45,452.1 235.37,461.51 253.92,530.13 190.75,492.7
      162.24,356.36 236.12,295.77     "/>
      <polygon id="XMLID_164_" class="r_2" points="147.09,203.1 236.12,295.77 173.82,290.42 141.13,250.53 145.49,215.82     "/>
      <polygon id="XMLID_163_" class="r_1" points="199.26,137.53 209.09,183.96 147.09,203.1     "/>
      <polygon id="XMLID_162_" class="r_2" points="162.24,356.36 190.75,492.7 173.82,480.23 162.24,416.96     "/>
      <polygon id="XMLID_161_" class="r_2" points="147.09,428.54 164.75,489.18 145.49,500.72 118.57,475.77    "/>
      <polygon id="XMLID_160_" class="r_3" points="141.13,250.53 162.24,356.36 88.16,298.23 110.55,278.07     "/>
      <polygon id="XMLID_159_" class="r_2" points="145.49,215.82 141.13,250.53 110.55,278.07 110.55,238.75    "/>
      <animate attributeName="opacity" from="0" to="1" dur="1s" begin="2.8s" fill="freeze"/>
    </g>
    <g id="outline_r">
      <g id="XMLID_302_">
        <polyline id="XMLID_321_" class="red_2px" points="199.26,137.53 147.09,203.1 145.49,215.82 141.13,250.53 110.55,278.07
        88.16,298.23 72.63,371.45 114.41,403.48 147.09,428.54 164.75,489.18 173.82,520.34 239.45,619.15 312.78,655.69 403.78,514.77
        482.58,449.71 474.12,330.52 486.12,275.46 455.12,179.8 411.12,165.1 388.28,157.47 366.71,126.47       "/>
        <polyline id="XMLID_320_" class="red_2px" points="274.91,138.63 303.66,154.67 305.74,177.42 278.07,174.73 253.92,143.26
        "/>
        <polyline id="XMLID_319_" class="red_2px" points="360.53,137.13 381.14,210.43 332.78,140.39       "/>
        <polyline id="XMLID_318_" class="red_2px" points="388.28,157.47 381.14,210.43 411.03,165.36       "/>
        <polyline id="XMLID_317_" class="red_2px" points="455.12,179.8 339.08,273.5 271.45,351.92 385.01,336.76 486.12,275.46
        420.65,234.28 385.01,336.76 339.08,273.5 420.65,234.28      "/>
        <polyline id="XMLID_316_" class="red_2px" points="88.16,298.23 162.24,356.36 236.12,295.77 147.09,203.1 209.09,183.96
        199.26,137.53       "/>
        <polygon id="XMLID_315_" class="red_2px" points="162.24,356.36 141.13,250.53 173.82,290.42      "/>
        <polyline id="XMLID_314_" class="red_2px" points="145.49,215.82 110.55,238.75 110.55,278.07       "/>
        <polyline id="XMLID_313_" class="red_2px" points="114.41,403.48 118.57,475.77 145.49,500.72 164.75,489.18       "/>
        <polyline id="XMLID_312_" class="red_2px" points="118.57,475.77 147.09,428.54 162.24,416.96 162.24,356.36 190.75,492.7
        239.45,584.48 312.78,655.69 298.59,534.59 403.78,514.77 339.08,465.09 316.4,397.8 204.96,382.21 236.12,295.77 173.82,290.42
        "/>
        <polyline id="XMLID_311_" class="red_2px" points="474.12,330.52 385.01,407.17 339.08,465.09 271.45,452.1 298.59,534.59      "/>
        <polyline id="XMLID_310_" class="red_2px" points="303.66,154.67 339.08,163 343.78,246.94 381.14,210.43      "/>
        <polyline id="XMLID_309_" class="red_2px" points="339.08,163 281.6,215.82 343.78,246.94 271.45,351.92 316.4,397.8       "/>
        <line id="XMLID_308_" class="red_2px" x1="209.09" y1="183.96" x2="278.07" y2="174.73"/>
        <polyline id="XMLID_307_" class="red_2px" points="243.07,344.78 281.6,215.82 231.5,225.38 236.12,295.77       "/>
        <polyline id="XMLID_306_" class="red_2px" points="173.82,480.23 173.82,520.34 190.75,492.7 173.82,480.23 162.24,416.96      "/>
        <line id="XMLID_305_" class="red_2px" x1="239.45" y1="619.15" x2="239.45" y2="584.48"/>
        <polyline id="XMLID_304_" class="red_2px" points="312.78,655.69 253.92,530.13 235.37,461.51 271.45,452.1 204.96,382.21
        243.07,344.78 271.45,351.92 339.08,363.5 385.01,336.76 385.01,407.17 482.58,449.71      "/>
        <line id="XMLID_303_" class="red_2px" x1="253.92" y1="530.13" x2="190.75" y2="492.7"/>
      </g>
      <g id="XMLID_282_">
        <polyline id="XMLID_301_" class="red_2px" points="199.26,137.53 147.09,203.1 145.49,215.82 141.13,250.53 110.55,278.07
        88.16,298.23 72.63,371.45 114.41,403.48 147.09,428.54 164.75,489.18 173.82,520.34 239.45,619.15 312.78,655.69 403.78,514.77
        482.58,449.71 474.12,330.52 486.12,275.46 455.12,179.8 411.12,165.1 388.28,157.47 366.71,126.47       "/>
        <polyline id="XMLID_300_" class="red_2px" points="274.91,138.63 303.66,154.67 305.74,177.42 278.07,174.73 253.92,143.26
        "/>
        <polyline id="XMLID_299_" class="red_2px" points="360.53,137.13 381.14,210.43 332.78,140.39       "/>
        <polyline id="XMLID_298_" class="red_2px" points="388.28,157.47 381.14,210.43 411.03,165.36       "/>
        <polyline id="XMLID_297_" class="red_2px" points="455.12,179.8 339.08,273.5 271.45,351.92 385.01,336.76 486.12,275.46
        420.65,234.28 385.01,336.76 339.08,273.5 420.65,234.28      "/>
        <polyline id="XMLID_296_" class="red_2px" points="88.16,298.23 162.24,356.36 236.12,295.77 147.09,203.1 209.09,183.96
        199.26,137.53       "/>
        <polygon id="XMLID_295_" class="red_2px" points="162.24,356.36 141.13,250.53 173.82,290.42      "/>
        <polyline id="XMLID_294_" class="red_2px" points="145.49,215.82 110.55,238.75 110.55,278.07       "/>
        <polyline id="XMLID_293_" class="red_2px" points="114.41,403.48 118.57,475.77 145.49,500.72 164.75,489.18       "/>
        <polyline id="XMLID_292_" class="red_2px" points="118.57,475.77 147.09,428.54 162.24,416.96 162.24,356.36 190.75,492.7
        239.45,584.48 312.78,655.69 298.59,534.59 403.78,514.77 339.08,465.09 316.4,397.8 204.96,382.21 236.12,295.77 173.82,290.42
        "/>
        <polyline id="XMLID_291_" class="red_2px" points="474.12,330.52 385.01,407.17 339.08,465.09 271.45,452.1 298.59,534.59      "/>
        <polyline id="XMLID_290_" class="red_2px" points="303.66,154.67 339.08,163 343.78,246.94 381.14,210.43      "/>
        <polyline id="XMLID_289_" class="red_2px" points="339.08,163 281.6,215.82 343.78,246.94 271.45,351.92 316.4,397.8       "/>
        <line id="XMLID_288_" class="red_2px" x1="209.09" y1="183.96" x2="278.07" y2="174.73"/>
        <polyline id="XMLID_287_" class="red_2px" points="243.07,344.78 281.6,215.82 231.5,225.38 236.12,295.77       "/>
        <polyline id="XMLID_286_" class="red_2px" points="173.82,480.23 173.82,520.34 190.75,492.7 173.82,480.23 162.24,416.96      "/>
        <line id="XMLID_285_" class="red_2px" x1="239.45" y1="619.15" x2="239.45" y2="584.48"/>
        <polyline id="XMLID_284_" class="red_2px" points="312.78,655.69 253.92,530.13 235.37,461.51 271.45,452.1 204.96,382.21
        243.07,344.78 271.45,351.92 339.08,363.5 385.01,336.76 385.01,407.17 482.58,449.71      "/>
        <line id="XMLID_283_" class="red_2px" x1="253.92" y1="530.13" x2="190.75" y2="492.7"/>
      </g>
    </g>
    <animate attributeName="opacity" from="0" to="1" dur="1s" begin="2s" fill="freeze"/>
  </g>
  <g id="_x32_0">
    <g id="fill_b">
      <polygon id="XMLID_189_" class="b_1" points="311.09,50.73 339.08,108.67 323.72,103.55 318.81,81.85 312.49,78.69     "/>
      <polygon id="XMLID_188_" class="b_2" points="284.68,30.67 273.78,67.52 271.45,44.39     "/>
      <polygon id="XMLID_187_" class="b_2" points="243.07,100.27 209.09,120.96 209.09,93.72     "/>
      <polygon id="XMLID_186_" class="b_1" points="236.12,118.28 253.92,143.26 199.26,137.53 209.09,120.96 243.07,100.27    "/>
      <polygon id="XMLID_185_" class="b_1" points="354.43,113.78 360.53,137.13 332.78,140.39 310.62,110.51    "/>
      <polygon id="XMLID_184_" class="b_1" points="289.33,48.05 293.84,85.53 271.45,95.56 251.26,63.84 273.78,67.52 284.68,30.67
      "/>
      <polygon id="XMLID_183_" class="b_2" points="243.49,101.5 268.87,120.96 332.78,140.39 274.91,138.63 236.12,118.28
      243.07,100.27 243.71,100.4    "/>
      <polygon id="XMLID_182_" class="b_2" points="271.74,4.06 271.45,44.39 236.12,60.35 236.12,35.17 250.85,40.5 260.53,23.63    "/>
      <polygon id="XMLID_181_" class="b_2" points="312.49,78.69 318.81,81.85 323.72,103.55 293.84,85.53 302.43,73.67    "/>
    </g>
    <g id="outline_b">
      <g id="XMLID_240_">
        <polyline id="XMLID_252_" class="blue_2px" points="273.78,67.52 271.45,44.39 284.68,30.67       "/>
        <polyline id="XMLID_251_" class="blue_2px" points="260.53,23.63 236.12,35.17 236.12,60.35 271.45,44.39 271.74,4.06
        292.62,12.67      "/>
        <polyline id="XMLID_250_" class="blue_2px" points="284.68,30.67 292.62,12.67 303.66,35.17 310.62,41.31 311.09,50.73
        312.49,78.69 312.5,78.94      "/>
        <polyline id="XMLID_249_" class="blue_2px" points="302.43,73.67 303.66,35.17 289.33,48.05 293.84,85.53      "/>
        <line id="XMLID_248_" class="blue_2px" x1="289.33" y1="48.05" x2="284.68" y2="30.67"/>
        <polyline id="XMLID_247_" class="blue_2px" points="360.53,137.13 354.43,113.78 310.62,110.51 293.84,85.53 323.72,103.55
        310.62,110.51 268.87,120.96       "/>
        <polyline id="XMLID_246_" class="blue_2px" points="366.71,126.47 354.43,113.78 339.08,108.67 323.72,103.55 318.81,81.85
        312.49,78.69 302.43,73.67 293.84,85.53 271.45,95.56 310.62,110.51 332.78,140.39 268.87,120.96 243.49,101.5 243.71,100.4
        251.26,63.84 273.78,67.52 284.68,30.67 271.74,4.06 260.53,23.63 250.85,40.5 236.12,35.17      "/>
        <polyline id="XMLID_245_" class="blue_2px" points="243.49,101.5 271.45,95.56 251.26,63.84 236.12,60.35 225.46,78.14
        209.09,93.72 209.09,120.96 199.26,137.53      "/>
        <polyline id="XMLID_244_" class="blue_2px" points="225.46,78.14 243.07,100.27 209.09,93.72      "/>
        <polyline id="XMLID_243_" class="blue_2px" points="209.09,120.96 243.07,100.27 236.12,118.28 253.92,143.26      "/>
        <line id="XMLID_242_" class="blue_2px" x1="311.09" y1="50.73" x2="339.08" y2="108.67"/>
        <line id="XMLID_241_" class="blue_2px" x1="236.12" y1="118.28" x2="274.91" y2="138.63"/>
      </g>
      <g id="XMLID_227_">
        <polyline id="XMLID_239_" class="blue_2px" points="273.78,67.52 271.45,44.39 284.68,30.67       "/>
        <polyline id="XMLID_238_" class="blue_2px" points="260.53,23.63 236.12,35.17 236.12,60.35 271.45,44.39 271.74,4.06
        292.62,12.67      "/>
        <polyline id="XMLID_237_" class="blue_2px" points="284.68,30.67 292.62,12.67 303.66,35.17 310.62,41.31 311.09,50.73
        312.49,78.69 312.5,78.94      "/>
        <polyline id="XMLID_236_" class="blue_2px" points="302.43,73.67 303.66,35.17 289.33,48.05 293.84,85.53      "/>
        <line id="XMLID_235_" class="blue_2px" x1="289.33" y1="48.05" x2="284.68" y2="30.67"/>
        <polyline id="XMLID_234_" class="blue_2px" points="360.53,137.13 354.43,113.78 310.62,110.51 293.84,85.53 323.72,103.55
        310.62,110.51 268.87,120.96       "/>
        <polyline id="XMLID_233_" class="blue_2px" points="366.71,126.47 354.43,113.78 339.08,108.67 323.72,103.55 318.81,81.85
        312.49,78.69 302.43,73.67 293.84,85.53 271.45,95.56 310.62,110.51 332.78,140.39 268.87,120.96 243.49,101.5 243.71,100.4
        251.26,63.84 273.78,67.52 284.68,30.67 271.74,4.06 260.53,23.63 250.85,40.5 236.12,35.17      "/>
        <polyline id="XMLID_232_" class="blue_2px" points="243.49,101.5 271.45,95.56 251.26,63.84 236.12,60.35 225.46,78.14
        209.09,93.72 209.09,120.96 199.26,137.53      "/>
        <polyline id="XMLID_231_" class="blue_2px" points="225.46,78.14 243.07,100.27 209.09,93.72      "/>
        <polyline id="XMLID_230_" class="blue_2px" points="209.09,120.96 243.07,100.27 236.12,118.28 253.92,143.26      "/>
        <line id="XMLID_229_" class="blue_2px" x1="311.09" y1="50.73" x2="339.08" y2="108.67"/>
        <line id="XMLID_228_" class="blue_2px" x1="236.12" y1="118.28" x2="274.91" y2="138.63"/>
      </g>
    </g>
  </g>
<g id="waves" opacity="0">
  <g id="XMLID_207_">
    <path id="XMLID_217_" class="red_2px" d="M72.83,149.98c33,15.5,56.64-13.55,88.92,0"/>
    <path id="XMLID_216_" class="red_2px" d="M8.25,172.14c22.78,10.7,39.11-9.35,61.39,0"/>
    <path id="XMLID_215_" class="red_2px" d="M568.51,159.55c-43.31,20.34-74.34-17.78-116.69,0"/>
    <path id="XMLID_214_" class="red_2px" d="M212.83,215.18c-43.31,20.34-74.34-17.78-116.69,0"/>
    <path id="XMLID_213_" class="red_2px" d="M386.95,144.34c16.81,7.9,28.86-6.9,45.3,0"/>
    <line id="XMLID_212_" class="red_2px" x1="21.78" y1="140.39" x2="45.28" y2="140.39"/>
    <line id="XMLID_211_" class="red_2px" x1="479.58" y1="137.53" x2="500.78" y2="137.53"/>
    <line id="XMLID_210_" class="red_2px" x1="479.58" y1="192" x2="535.78" y2="192"/>
    <line id="XMLID_209_" class="red_2px" x1="185.63" y1="175.38" x2="111.41" y2="175.38"/>
    <line id="XMLID_208_" class="red_2px" x1="242.64" y1="192" x2="325.37" y2="192"/>
  </g>
  <g id="XMLID_196_">
    <path id="XMLID_206_" class="red_2px" d="M72.83,149.98c33,15.5,56.64-13.55,88.92,0"/>
    <path id="XMLID_205_" class="red_2px" d="M8.25,172.14c22.78,10.7,39.11-9.35,61.39,0"/>
    <path id="XMLID_204_" class="red_2px" d="M568.51,159.55c-43.31,20.34-74.34-17.78-116.69,0"/>
    <path id="XMLID_203_" class="red_2px" d="M212.83,215.18c-43.31,20.34-74.34-17.78-116.69,0"/>
    <path id="XMLID_202_" class="red_2px" d="M386.95,144.34c16.81,7.9,28.86-6.9,45.3,0"/>
    <line id="XMLID_201_" class="red_2px" x1="21.78" y1="140.39"
  </g>
  <animate attributeName="opacity" from="0" to="1" dur="0.5s" begin="3s" fill="freeze"/>
</g>
</svg>
</div>

<div class="wrapper-wave text-center">
</div>


