<div class="text-center banner" style="background: linear-gradient(to left, #000428 , #004e92)">
  <h1>Ever wanted to find a VC that fits with your startup?</h1>
  <%= link_to "Find", vc_firms_path, class: "button" %>
</div>
