<div class="wrapper">
 <div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        Sectors
      </a>
    </li>
    <li>
      <a href="#">Ecommerce</a>
    </li>
    <li>
      <a href="#">Big Data</a>
    </li>
    <li>
      <a href="#">Hardware</a>
    </li>
    <li>
      <a href="#">FoodTech</a>
    </li>
    <li>
      <a href="#">Fashion</a>
    </li>
    <li>
      <a href="#">Travel</a>
    </li>
    <li>
      <a href="#">Saas</a>
    </li>
    <li>
      <a href="#">Fintech</a>
    </li>
    <li>
      <a href="#">Entertainment</a>
    </li>
    <li>
      <a href="#">Health</a>
    </li>
    <li>
      <a href="#">Education</a>
    </li>
    <li>
      <a href="#">Energy</a>
    </li>
    <li>
      <a href="#">Platform</a>
    </li>
    <li>
      <a href="#">Saas</a>
    </li>
  </ul>
</div>


<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-8 col-md-offset-3">
        <% @vc_firms.each do |vc_firm| %>
        <%= render 'vc_card', vc_firm: vc_firm %>
        <% end %>
      </div>
    </div>
  </div>
</div>
