<div class="wrapper">
  <div class="filters-container text-center">
    <form id=stage-filters>
      <label style="font-size:12px;"><input type="checkbox" name="stage" value="seed_stage" class="stage filter" /> <span class="label-checkbox">Seed stage</span></label>
      <label style="font-size:12px;"><input type="checkbox" name="stage" value="series_a" class="stage filter" /> <span class="label-checkbox">Series A</span></label>
      <label style="font-size:12px;"><input type="checkbox" name="stage" value="series_b" class="stage filter" /> <span class="label-checkbox">Series B</span></label>
      <label style="font-size:12px;"><input type="checkbox" name="stage" value="series_c" class="stage filter" /> <span class="label-checkbox">Series C</span></label>
      <label style="font-size:12px;"><input type="checkbox" name="stage" value="growth_stage" class="stage filter" /> <span class="label-checkbox">Growth Stage</span></label>
    </form>
    <form id="sector-filters">
      <% @sectors.each do |sector| %>
      <label style="font-size:12px;"><input type="checkbox" name="sector" value="<%= sector.downcase.gsub(/\s+/, "") %>" class="sector filter" /><span class="label-checkbox"><%= sector %></span></label>
      <% end %>
    </form>
  </div>
  <div class='card-wrapper'>
    <div class='card-wrapper-background has-section'>
      <div></div>
      <div></div>
    </div>
    <div class="container">
      <div class="row">
        <% @vc_firms.each do |vc_firm| %>
        <div class="col-md-6">
          <%= render 'vc_card', vc_firm: vc_firm %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $('#stage-filters :input').click();
      $('#sector-filters :input').click()
    });


  // Filtering for stage with Jquery
  // $('.stage').on('click',function(){
  //   var stage_list = [];
  //   if ($('#stage-filters :input:checked').length == 0){
  //     $(document).find('.card').parent().addClass("display-none")};
  //     $('#stage-filters :input:checked').each(function(){
  //       var stage = $(this).val();
  //       stage_list.push(stage);
  //       $(document).find('.card').parent().addClass("display-none");
  //     });
  //     stage_list.forEach(function(stage){
  //       $(document).find('.'+ stage).parent().removeClass("display-none");
  //     });
  //   });

  // // Filtering for sector with Jquery
  // $('.sector').on('click',function(){
  //   var sector_list = [];
  //   if ($('#sector-filters :input:checked').length == 0){
  //     $(document).find('.card').parent().addClass("display-none")};
  //     $('#sector-filters :input:checked').each(function(){
  //       var sector = $(this).val();
  //       sector_list.push(sector);
  //       $(document).find('.card').parent().addClass("display-none");
  //       console.log("ok");
  //     });
  //     sector_list.forEach(function(sector){
  //       $(document).find('.'+ sector).parent().removeClass("display-none");
  //     });
  //   });



  $('.filter').on('click', function(){
    sector_object = [];
    stage_object = [];
    $('#sector-filters :input:checked').each(function(){
      var sector = $(this).val();
      sector_object.push(sector);
    });
    console.log(sector_object);
    $('#stage-filters :input:checked').each(function(){
      var stage = $(this).val();
      stage_object.push(stage);
    });
    console.log(stage_object);
    $(document).find('.card').parent().addClass("display-none");
    sector_object.forEach(function(sector){
      stage_object.forEach(function(stage){
        $(document).find('.card').each(function(){
          if ($(this).hasClass(sector) && $(this).hasClass(stage)){
            $(this).parent().removeClass("display-none")
          };
        });
      });
    });
  });

</script>




<% end %>


<!-- On click on whatever filters > 2 arrays are empty
Fill the stage array with stages
Fill the sector array with sectors
Hide each card
Iterate on each card of the stage array.
Check if they have one of the sector class.
If yes, display.
-->

